{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-restricted-syntax": ["error", "ForInStatement", "SequenceExpression"],
        "no-template-curly-in-string": "error",
        "array-callback-return": "error",
        "no-caller": "error",
        "no-else-return": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "eqeqeq": ["error", "always"],
        "no-lone-blocks": "error",
        "no-param-reassign": "error",
        "no-proto": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-useless-call": "error",
        "yoda": "error",
        "no-console": "error"
    }
  }